<body class="vh-100">
  <section class="vh-100 text-center">
    <div>
      <img src="../../../assets/Logo.png">  
    </div>
    <h1>Burger Queen</h1>
    <form>
      <div class="row w-20 justify-content-center">
        <div class="col-auto">
          <div class="p-2">
            <input placeholder="Email">
          </div>
          <div class="p-2">
            <input placeholder="Contraseña">
          </div>
          <a [routerLink]="['/roles']">
            <button class="w-50">Ingresar</button>
          </a>
        </div>
      </div>
    </form>  
  </section>  
</body>
