article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
select {
  background-color: var(--brown);
  border: none;
  border-radius: 1rem;  
  width: 13rem;
  height: 4rem;
  color: #fff;
  margin: .6rem 0 0;
  font-size: 1.7rem;
  text-align: center;
  outline: none;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  height: 75vh;
  align-content: flex-start;
}
.cards{
  background-color: var(--red);
  width: 13rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}
img {
  width: 11rem;
}
h2 {
  color: #fff;
}