<select id="menu" name="menu">
  <option value="desayuno" (change)="menu($event)">Desayuno</option>
  <option value="tarde" (change)="menu($event)">Resto del día</option>
</select>

<section id="desayuno">
  <div class="cards" *ngFor= "let item of desayuno">
    <div><img src={{item.data.foto}}></div>
    <div><h2>{{item.data.producto}}</h2></div>
  </div>
</section>

<section>
  <div class="cards"  id="tarde" *ngFor= "let item of tarde">
    <!-- <div><img src={{item.data.foto}}></div> -->
    <div><h2>{{item.data.producto}}</h2></div>
  </div>
</section>

