<section class="container">
<section class="menu">
  <select id="menu" name="menu" (change)="filteredMenu($event)">
    <option selected>Elige un horario</option>
    <option value="Desayuno">Desayuno</option>
    <option value="Tarde">Resto del día</option>
  </select>
    <article class="cards-container">
      <div class="cards" (click)="addToCart(item.data)" (click)="typeOfMenu(item.data.horario)" *ngFor= "let item of menu">
        <div><img src={{item.data.foto}}></div>
        <div><h2 class="card-name">{{item.data.producto}}</h2></div>
      </div>
    </article>
  </section>
<aside class="cart">
  <article class="cartTop">
    <div>
      <h1 id="title">Tipo de orden</h1>
      <hr>
      <h1 id="type">{{type}}</h1>
    </div>
    <h1 id="table">{{selectedTable}}</h1>
  </article>
  <section class="table-container">
    <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart">
        <th scope="row"><img class="icon" (click)=deleteItem(item) src="../../../assets/Icon-Trash.svg"></th>
        <td>{{item.data.producto}}</td>
        <td><button class="btn-icon" (click)=changeAmount(-base,item)><i class="fas fa-chevron-down"></i></button>{{item.cantidad}}<button class="btn-icon" (click)=changeAmount(base,item)><i class="fas fa-chevron-up"></i></button> </td>
        <td>${{item.data.precio * item.cantidad}}</td>
      </tr>
    </tbody>
    </table>
  </section>
  <div id="container-totalPrice"><p id="totalPrice">Precio Total: ${{total}}</p></div>
  <textarea placeholder="Agrega un comentario" #comentario></textarea>
  <div id="btn-container">
    <button id="btn-cancel" (click)=deleteCart()>Cancelar Pedido</button>
    <button id="btn-send" (click)=createOrder(comentario.value) [routerLink]="['/tables']">Enviar a Cocina</button>
  </div>
</aside>
</section>