<article>
  <select id="menu" name="menu" (change)="filteredMenu($event)">
    <option selected>Elige un horario</option>
    <option value="desayuno">Desayuno</option>
    <option value="tarde">Resto del día</option>
  </select>
  
  <section>
    <div class="cards" (click)="cardClick(item.data)" *ngFor= "let item of menu">
      <div><img src={{item.data.foto}}></div>
      <div><h2>{{item.data.producto}}</h2></div>
    </div>
  </section>
  <!-- <h1 *ngFor= "let item of cart">{{item.data.name}}</h1>-->
</article>
