aside {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 black;
  width: 95%;
  height: 37rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}
#btn-edit {
  background-color: var(--brown);
  border: none;
  border-radius: 1rem;  
  width: 6rem;
  height: 3rem;
  color: #fff;
  margin: .6rem 0 0;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
}