<body class="vh-100">
  <section class="vh-100 text-center">
    <div>
      <img src="../../../assets/Logo.png">
    </div>
    <h1>Burger Queen</h1>
    <form>
      <div class="row w-20 justify-content-center">
        <div>
          <!--<div class="p-2">
            <input placeholder="Email">
          </div>
          <div class="p-2">
            <input placeholder="Contraseña">
          </div>-->
          <p id="phrase">Bienvenidx!</p>
          <a [routerLink]="['/roles']">
            <button>Ingresar</button>
          </a>
        </div>
      </div>
    </form>
  </section>
</body>
