section {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.greenCard {
  background-color: #fff;
  border: solid;
  border-color: var(--green);
  box-shadow: 0 5px 16px 0 #e4d4e2;
  width: 23rem;
  height: 31rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}
.redCard{
  background-color: #fff;
  border: solid;
  border-color: var(--red);
  box-shadow: 0 5px 16px 0 #e4d4e2;
  width: 23rem;
  height: 31rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}
.table-name {
  margin-top: .5rem;
  font-size: 1.7rem;
}
.hour {
  font-size: 1.2rem;
  color: #3B5162;
  margin: 0.5rem;
}
.table-container {
  height: 21rem;
  overflow: auto;
}
hr {
  margin: .5rem;
}
table{
  width: 100%;
}
th {
  color: #3B5162;
  text-align: center;
  font-size: 1.4rem;
}
td {
  text-align: center;
  font-size: 1.2rem;
}
.status-container {
  display: flex;
  justify-content: space-evenly;
}
.status-title {
  font-size: 1.4rem;
}
.pending {
  font-size: 1.7rem;
  color: var(--red);
}
.ready {
  font-size: 1.7rem;
  color: var(--green);
}