<app-navbar-waiter></app-navbar-waiter>
<section>
  <article [ngClass]="{'greenCard': (item.data.status === 'Listo'), 
  'redCard': (item.data.status === 'Pendiente')}" *ngFor="let item of order">
    <h1 class="table-name">Mesa 1</h1>
    <p class="hour">{{ item.data.hora.toDate() | date:'dd/MM/yyyy h:mm:ss a' }}</p>
    <hr>
    <div class="table-container">
      <table>
        <tr>
          <th>Cantidad</th>
          <th>Producto</th>
        </tr>
        <tr *ngFor = "let producto of item.data.cart"> 
          <td>{{producto.cantidad}}</td>
          <td >{{producto.data.producto}}</td>
        </tr>
      </table>
    </div>
    <p class="total">Total: ${{item.data.precioTotal}}</p>
    <div class="coment-container" *ngIf= "item.data.comentario !== '' ">
      <p class="coment">{{item.data.comentario}}</p>
    </div>
    <hr>
      <div class="status-container">
        <h2 class="status-title">Estado</h2> 
        <h2 [ngClass]="{'ready': (item.data.status === 'Listo'), 
        'pending': (item.data.status === 'Pendiente')}">{{item.data.status}}</h2>
      </div>
  </article>
</section>
