<app-navbar-waiter></app-navbar-waiter>
<section>
  <article class="redCard">
    <h1 class="table-name">Mesa 1</h1>
    <p class="hour">Hora: 10:52:00 a.m</p>
    <hr>
    <div class="table-container">
      <table>
        <tr>
          <th>Cantidad</th>
          <th>Producto</th>
        </tr>
        <tr>
          <td>1</td>
          <td >Pollito con papas</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Tequeños</td>
        </tr>
        <tr>
          <td>1</td>
          <td >Pollito con papas</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Tequeños</td>
        </tr>
        <tr>
          <td>1</td>
          <td >Pollito con papas</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Tequeños</td>
        </tr>
        <tr>
          <td>1</td>
          <td >Pollito con papas</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Tequeños</td>
        </tr>
        <tr>
          <td>1</td>
          <td >Pollito con papas</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Tequeños</td>
        </tr>
        <tr>
          <td>1</td>
          <td >Pollito con papas</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Tequeños</td>
        </tr>
      </table>
    </div>
      <hr>
      <div class="status-container">
        <h2 class="status-title">Estado</h2> 
        <h2 class="pending">Pendiente</h2>
      </div>
  </article>
  <article class="greenCard"></article>
  <article class="redCard"></article>
  <article class="greenCard"></article>
</section>
