<app-navbar-waiter></app-navbar-waiter>
<body>
  <section>
    <div [routerLink]="['/take-order']" class="cards" *ngFor="let table of tables" id={{table.id}} (click)="updateTableStatus(table.id, table.data.status)">
      
      <div *ngIf="(table.data.status === true); else elseBlock">
        <div class="fill"><img src="../../../assets/table.svg"></div>
        <h1>{{table.data.name}}</h1>
      </div>

      <ng-template #elseBlock>
        <h1>{{table.data.name}}</h1>
      </ng-template>
    </div>
  </section>
</body>
