<body>
  <section>
    <h1>Soy...</h1>
    <article id="contenedor">
      <a [routerLink]="['/chef-order']">
      <div class="divs">
        <img id="chef-img" src="../../../assets/BurgerChef.png">
      <button id="chef-btn"><h2>Chefsito</h2></button>
      </div>
      </a>
      <a [routerLink]="['/tables']">
      <div class="divs">
        <img id="waiter-img" src="../../../assets/BurgerWaiter.png">
        <button id="waiter-btn"><h2>Meserito</h2></button>
      </div>
      </a>
    </article>
  </section>
</body>