<nav><h2>Soy un navbar improvisado ٩(^‿^)۶</h2></nav>
<body>
  <section>
    <div class="cards" (click)='alert()'>
      <div class="fill"><img src="../../../assets/table.svg"></div>
      <h1>Mesa 1</h1>
    </div>
    <div class="cards">
      <div class="fill"><img src="../../../assets/table.svg"></div>
      <h1>Mesa 2</h1>
    </div>
    <div class="cards">
      <div class="fill"><img src="../../../assets/table.svg"></div>
      <h1>Mesa 3</h1>
    </div>
    <div class="cards">
      <div class="fill"><img src="../../../assets/table.svg"></div>
      <h1>Mesa 4</h1>
    </div>
    <div class="cards">
      <div class="fill"><img src="../../../assets/table.svg"></div>
      <h1>Mesa 5</h1>
    </div>
    <div class="cards">
      <div class="fill"><img src="../../../assets/table.svg"></div>
      <h1>Mesa 6</h1>
    </div>
  </section>

  <!-- <section>
    <div class="media" *ngFor="let table of tables">
      <div class="media-body">
        <p>{{table.data.mesa1}}</p>
      </div>
    </div>
  </section> -->
</body>
