body {
  background-image: url('../../../assets/Background.png');
  background-size: cover;
  background-attachment : fixed;
  background-position: center;
}
h1 {
  margin-bottom: 3rem;
  color: var(--red);
  font-size: 4rem;
  text-align: center;
 }
 section {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 #contenedor{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
 }
 .divs{
  position: relative;
  display: flex;
 }
 #chef-btn,  #waiter-btn {
  width: 20rem;
  height: 10rem;
  background-color: var(--red);
  margin: 2rem;
  border-radius: 2rem;
  border:none; 
  color: #fff;
  transition: .3s;
 }
 #chef-img {
   width: 12rem;
   position: absolute;
   top: -50%;
   left: 25%;
 }
 #waiter-img {
  width: 12.7rem;
  position: absolute;
  top: -43%;
  left: 25%;
}
#chef-btn:active , #waiter-btn:active {
  background-color: var(--background);
  color: var(--red);
  transition: .3s;
 }
 h2{
  position: absolute;
  top: 60%;
  left: 30%;
  font-size: 2.6rem;
 }